<div class="container">
	<% if @contacts.size == 0 %>
		<h1 class="loser">You have no friends. LOL. </h1>
	<% elsif @contacts.size == 1 %>
		<h1>You have 1 friend. </h1>
	<% else %>
		<h1>You have <%= @contacts.size %> friends. </h1>
	<% end %>
	<p><a class="button" href="/contacts/new">Add a Friend</a></p>
		
	<!-- great friends -->
		<% if @contacts.size > 0 %>
			<h3 style="text-align: left;">Great Friends</h3>
		<% end %>
		<% @contacts.each do |contact| %>
		
			
			<% if contact.rating.to_i >= 3 %>
				<div class="box">
					<a href="/contacts/<%= contact.id %>">
			  	<form action="/contacts/<%= contact.id %>" method="post">
				  		<input type="hidden" name="_method" value="delete">
				 	 		<input class="quick_delete" type="submit" name="Delete Contact" value="X">
					</form> 
					<div class="name_info">
						<p><%= contact.first_name %> <%= contact.last_name %></p>
						<% if contact.rating.to_i == 1%>
							<h3>&#9734;</h3>
							<% elsif contact.rating.to_i == 2 %>
							<h3>&#9734;&#9734;</h3>
							<% elsif contact.rating.to_i == 3 %>
							<h3>&#9734;&#9734;&#9734;</h3>
							<% elsif contact.rating.to_i == 4 %>
							<h3>&#9734;&#9734;&#9734;&#9734;</h3>
							<% else %>
							<h3>&#9734;&#9734;&#9734;&#9734;&#9734;</h3>
						<% end %>
						
						<!-- -->
					</div>
					<div class="other_info">
						<p><%= contact.email %></p>
						<p><%= contact.note %></p>
					</div>
				 </a>
				</div>
			<% end %>
		<% end %>
		<!-- Good Friends -->
		<% if @contacts.size > 0 %>
			<h3 style="text-align: left;">Good Friends</h3>
		<% end %>
		<% @contacts.each do |contact| %>
			<% if contact.rating.to_i < 3 %>
			
				<div class="box">
					<a href="/contacts/<%= contact.id %>">
			  	<form action="/contacts/<%= contact.id %>" method="post">
				  		<input type="hidden" name="_method" value="delete">
				 	 		<input class="quick_delete" type="submit" name="Delete Contact" value="X">
					</form> 
					<div class="name_info">
						<p><%= contact.first_name %> <%= contact.last_name %></p>
						<% if contact.rating.to_i == 1%>
							<h3>&#9734;</h3>
							<% elsif contact.rating.to_i == 2 %>
							<h3>&#9734;&#9734;</h3>
							<% elsif contact.rating.to_i == 3 %>
							<h3>&#9734;&#9734;&#9734;</h3>
							<% elsif contact.rating.to_i == 4 %>
							<h3>&#9734;&#9734;&#9734;&#9734;</h3>
							<% else %>
							<h3>&#9734;&#9734;&#9734;&#9734;&#9734;</h3>
						<% end %>
						
						<!-- -->
					</div>
					<div class="other_info">
						<p><%= contact.email %></p>
						<p><%= contact.note %></p>
					</div>
				 </a>
				</div>

			<% end %>
		<% end %>

</div>