<div class="container">
	<% if @@rolodex.contacts.size == 0 %>
		<h1>You have no friends, feel free to add one. </h1>
	<% elsif @@rolodex.contacts.size == 1 %>
		<h1>You have 1 friend. </h1>
	<% else %>
		<h1>You have <%= @@rolodex.contacts.size %> friends. </h1>
	<% end %>
	<p><a class="button" href="/contacts/new">Add a Friend</a></p>
		<% @@rolodex.contacts.each do |contact| %>
		<div class="box"><a href="/contacts/<%= contact.id %>">
	  	<p>First Name: <%= contact.first_name %></p>
	  	<p>Last Name: <%= contact.last_name %> </p>
	  	<p>Email:<%= contact.email %> </p>
	  	<p>Note: <%= contact.note %> </p>
	  </a></div>
		<% end %>
</div>