<div class="container">
	<% if @@rolodex.contacts.size == 0 %>
		<h1>You literally have no friends. </h1>
	<% elsif @@rolodex.contacts.size == 1 %>
		<h1>You have 1 friend. </h1>
	<% else %>
		<h1>You have <%= @@rolodex.contacts.size %> friends. </h1>
	<% end %>
	<p><a class="button" href="/contacts/new">Add a Friend</a></p>
		<% @@rolodex.contacts.each do |contact| %>
		<div class="box"><a href="/contacts/<%= contact.id %>">
	  	<form action="/contacts/<%= contact.id %>" method="post">
		  		<input type="hidden" name="_method" value="delete">
		 	 		<input class="quick_delete" type="submit" name="Delete Contact" value="X">
			</form> 
			<p><%= contact.first_name %> <%= contact.last_name %> </p>
			<div class="other_info">
				<p><%= contact.email %></p>
				<p><%= contact.note %></p>
			</div>
		</a></div>
		<% end %>
</div>