
<div class="container">
	<h1>Edit a Contact</h1>

	<form action="/contacts/<%= @contact.id %>" method="post">
	  <input type="hidden" name="_method" value="put">
	  <h3>First Name?</h3>
	  <p><input class="blue_border" type="text" name="first_name" value="<%= @contact.first_name %>"></p>
	  <h3>Last Name</h3>
	  <input class="blue_border" type="text" name="last_name" value="<%= @contact.last_name %>"></p>
	 <h3>Email?</h3>
	  <p><input class="blue_border" type="text" name="email" value="<%= @contact.email %>"></p>
	  <h3>Note?</h3>
	  <p><input class="blue_border" type="text" name="note" value="<%= @contact.note %>"></p>
	  <p><input class="button" type="submit" name="Submit">
	</form>
</div>