
<div class="container">
	<h4 style="float: left;" class="center"><a href="/contacts/<%= @contact.id %>">Back</a></h4>
	<h1>Edit Friend</h1>
	<form action="/contacts/<%= @contact.id %>" method="post">
	  <input type="hidden" name="_method" value="put">
	  <h4>First Name?</h4>
	  <p><input class="blue_border" type="text" name="first_name" value="<%= @contact.first_name %>"></p>
	  <h4>Last Name</h4>
	  <input class="blue_border" type="text" name="last_name" value="<%= @contact.last_name %>"></p>
	 <h4>Email?</h4>
	  <p><input class="blue_border" type="text" name="email" value="<%= @contact.email %>"></p>
	  <h4>Note?</h4>
	  <p><input class="blue_border" type="text" name="note" value="<%= @contact.note %>"></p>
	  <h4>Rating: 0<input type="range" name="rating" min="1" max="10">10</h4>
	  <p><input class="button" type="submit" name="Submit">
	</form>
</div>