
<div class="container">
	<h3 style="float: right;" class="center"><a href="/contacts/<%= @contact.id %>/edit">Edit</a></h3>
	<h3 style="float: left;" class="center"><a href="/">Back</a></h3>
	<p><%= @contact.rating %></p>
	<h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
	<p><strong>Email:</strong> <%= @contact.email %></p>
	<p><strong>Note:</strong></p>
	<p><%= @contact.note %></p>
	<form action="/contacts/<%= @contact.id %>" method="post">
	  <input type="hidden" name="_method" value="delete">
	  <input class="button" type="submit" name="Delete Contact" value="Delete <%= @contact.first_name %>">
	</form>
</div>